body{
	background-color: white;
	background-image: url('images/john.jpg');
	margin: 0px;
}
.nav{
	height: 55px;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	width: 100%;
}

.nav p{
	/*float: right;*/
	display: inline;
	position: absolute;
}
div svg{
	padding-top:4px; 
	height:34px;
	width: 54px 
}
.left{
	word-spacing: 15px;
	padding-right: 15px;
}
.left a{
	text-decoration: none;
	color: black;
}
.middle{
	margin: 31vh;
}
#buttons a{
	margin: 20px;
	text-decoration: none;
	color: white;
	background-color: grey;
	padding: 12px 25px;
	border-radius: 18px;
}
.middle h1{
	font-family: sans-serif;
	font-size: 52px;
	font-weight: bolder;
}
.middle p{
	font-family: sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 0;
}